@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: 'Proza Libre', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}







/*-------------footer------------------*/
footer {
	text-align: center;
	padding: 18px;
	background-color: #3e3d3d;
	color: #BEC7C7;
}
footer p {
	color: #BEC7C7;
	justify-content: space-between;
}





/*---------------------------------------------portfolio---------*/

.texte-gellery {
	position: relative;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.texte-gellery h2 {
	font-size: 50px;
	font-weight: 500;
}

.texte-gellery p {
	font-weight: 300;
	color: rgb(135, 138, 135);
}

@media (max-width: 400px) {
	.texte-gellery h2 {
		font-size: 65px;
	}

	.texte-gellery p {
		font-size: 20px;
		color: rgb(135, 138, 135);
	}
}

/*---------------------Contact Me ---------------------*/

.contact {
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f5f3f3;
	background-size: cover;
}
.contact .content-contact {
	max-width: 800px;
	text-align: center;
}
.contact .content-contact h2 {
	font-size: 36px;
	font-weight: 500;
	color:#000;
}
.contact .content-contact p {
	font-weight: 300;
	color:#000;
}
.container-contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container-contact .contact-information {
	width: 50%;
	display: flex;
	flex-direction: column; /*--column hedhi t5lhom ta7it b3dhom*/
}
.container-contact .contact-information .box-contact {
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container-contact .contact-information .box-contact .icon-contact {
	min-width: 60px;
	height: 60px;
	background: #9776;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container-contact .contact-information .box-contact .text-contact {
	/*--- hedhi ili m7bch ytlwin feha texte (p) -----*/
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color:#000;
	flex-direction: column;
	font-weight: 300;
}
.container-contact .contact-information .box-contact .text-contact h3 {
	font-weight: 500;
	color: rgba(153, 119, 119, 0.842);
}
.contactForm {
	width: 40%;
	padding: 40px;
	background: rgb(255, 255, 255);
	box-shadow: 5px 10px #888888;
	border:#121317
}
.contactForm h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
contactForm .inputBox textarea:valid ~ span {
	color: rgba(153, 119, 119, 0.842);
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
	width: 100px;
	background: rgba(153, 119, 119, 0.842);
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}
	.container-contact {
		flex-direction: column;
	}
	.container-contact .contact-information {
		margin-bottom: 40px;
	}
	.container-contact .contact-information,
	.contactForm {
		width: 100%;
	}
}


/*-------- about ----------*/
.about{
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.about .contentabout .img{
	height: auto;
	width: 600px;
	max-width: 100%;
}

.textabout{
	width: 550px;
	max-width: 100%;
	padding: 0 10px;
}

.contentabout{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.textabout h1{
	color: #3e3d3d;
	font-size: 85px; 
	margin-bottom: 20px;
	text-transform: capitalize;
}

.textabout h5{
	color: #A68F97;
	font-size: 25px;
	margin-bottom: 25px;
	text-transform: capitalize;
	letter-spacing: 2px;
}

.textabout p{
	color: rgb(50, 50, 50);
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 45px;
	
}

button{
	background-color: #3e3d3d;
	color: white;
	border: 2px solid transparent;
	text-decoration: none;
	padding: 10px 30px;
	font-size: 17px; 
	font-weight: bold;
}
 
button:hover{
	transform: scale(1.2);
	background-color: transparent;
	border: 2px solid #A68F97;
	color: #A68F97;
	transition: .4s;
	cursor: pointer;
}

@media screen and (max-width: 1180px) {

	.about{
		width: 100%;
		height: auto;
		padding: 70px 0px;
	}
}

@media screen and (max-width:650px) {

	.about .contentabout .img{
		margin-bottom: 35px;
	}

	.textabout h1{
		font-size: 60px;
		margin-bottom: 25px;
	}
	
}


/*-----skills--------*/
